name: Go CI 

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  COVERAGE_THRESHOLD: 75.0

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Download dependencies
        run: go mod download 

      - name: Run test with coverage
        run: |
          go test -race -coverprofile=coverage.out ./... 
          go tool cover -func=coverage.out | tee coverage.txt

      - name: Enfore coverage threashold
        run: |
          total=$(go tool cover -func=coverage.out | grep total | awk '{print substr($3, 1, length($3)-1)}')
          echo "Total coverage: $total%"
          awk -v total=$total -v threashold=$COVERAGE_THRESHOLD 'BEGIN { if (total < threashold) exit 1 }'

      - name: Run go vet
        run: go vet ./...

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
